$font: "sora";
$background-color: #077f6b;
$text-color-1: #ffffff;
$content-background: #2f2e2e;
$facebook-blue: #3975ea;
$border-radius: 10px;


@mixin center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin button {
  border: 3px solid $content-background;
  box-shadow: 5px 5px rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  background-color: $content-background;
  color:$text-color-1;
  border-radius: $border-radius;
  padding: 7px;
  margin-inline: 10px;
  cursor: pointer;
  * {
      background-color: $content-background;
      color: $text-color-1;
      font-size: 23px;
      vertical-align: -3px;
    }
  }

@mixin alert-message {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 800;
}