$font: "inter";
$background-color: #ffc452;
$text-color-1: #3d3434;
$content-background: #ffffff;
$facebook-blue: #3975ea;
$border-radius: 10px;


@mixin center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin button {
  border: 3px solid $text-color-1;
  font-size: 20px;
  font-weight: 600;
  background-color: $text-color-1;
  color: $content-background;
  border-radius: $border-radius;
  padding: 7px;
  margin-inline: 10px;
  cursor: pointer;
  * {
    background-color: $text-color-1;
    color: $content-background;
  }
}

@mixin alert-message {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 800;
}