@use "variables" as v;

* {
  fullScreen: { enable: false }
  color:rgb(52, 41, 41);
  * {
    background: transparent
  }
}

.app {
  z-index: 1;
  position: absolute;
}

.particles{
  z-index: -1;
  position: relative;
}
