@use "variables" as v;

@mixin login-button {
  color: white;
  font-size: 15px;
  border: 0;
  border-radius: v.$border-radius;
  margin-right:5px;
  font-family: inherit;
  padding: 10px 10px;
  font-weight: 800;
  cursor: pointer;
}

.login {
  @include v.center-items;
  .login__header {
    text-align: center;
  }
}


.my-facebook-button-class{
@include login-button;
  background-color: v.$facebook-blue;
  text-transform:lowercase;
  .fb-icon {
    background-color: v.$facebook-blue;
    * {
      color: white;
    }
  }
}

.search-only-button {
  @include login-button();
  background-color: #3B42DE;
  text-decoration: none;
  width: 160px;
}