@use "variables" as v;

@mixin login-button {
  color: white;
  font-size: 15px;
  border: 2px solid white;
  border-radius: v.$border-radius;
  font-family: inherit;
  font-size: 20px;
  padding: 10px 10px;
  font-weight: 800;
  cursor: pointer;
  width: 265px;
}

.login {
  @include v.center-items;
  h1 {
    font-size: 60px;
    font-weight: 600;
    margin: 30px auto 0px auto;
  } 
  .login__header {
    text-align: center;
    font-size: 30px;
  }
}

.login-img-container {
  height: fit-content;
  // background-color: v.$text-color-1;
  border-radius: v.$border-radius;
  img {
    object-fit: cover;
    max-width: 200px;
    background-color: transparent;
    margin: 20px;
  }
}

.my-facebook-button-class{
@include login-button;
  background-color: v.$facebook-blue;
  text-transform:lowercase;
  .fb-icon {
    background-color: v.$facebook-blue;
    vertical-align: -2px;
    padding-right: 3px;
    * {
      color: white;
      
    }
  }
}

.search-only-button {
  @include login-button();
  background-color: #2f2e2e;
  text-decoration: none;
  padding-left: 25px;
  box-sizing: border-box;
}