@use "variables" as v;

.search {
  @include v.center-items;
  .search-form > form {
    @include v.center-items;
    *{
      margin-block: 5px;
    }
  }
}

.search-bar > * {
  border: 0;
  background-color: white;
  box-shadow: rgba(43, 41, 36, 0.886) 1px 1px 2px 2px;
  height: 40px;
  font-size: 20px;
}

.search-bar__input {
  border-top-left-radius: v.$border-radius;
  border-bottom-left-radius: v.$border-radius;
  padding-left: 10px;
}

.search-bar__button {
  border-top-right-radius: v.$border-radius;
  border-bottom-right-radius: v.$border-radius;
  cursor: pointer;
  box-sizing: content-box;
  font-weight: 500;
  color: rgb(248, 251, 251);
  background-color: rgba(84, 78, 66, 0.961);
}

.search-results-container {
  padding: 20px 100px;
}

.search-results {
  color: rgb(6, 27, 27);
  background-color: rgba(255, 255, 255, 0.942);
  box-shadow: rgba(81, 79, 71, 0.886) 1px 1px 2px 2px;
  border-radius: 10px;
  padding: 20px 20px;
  height: 200px;
  width: 400px;
}

.search-button-container {
padding-left: 350px;

}

.search__buttons {
  @include v.button;
}

.save__buttons {
  @include v.button;
}

.alert-message {
  @include v.alert-message;
}