@use "variables" as v;

.search {
  @include v.center-items;
  .search-form > form {
    @include v.center-items;
    *{
      margin-block: 10px;
    }
  }
}

.search-form__title {
  font-size: 47px;
  text-align: center;
}

.search-bar {
  box-sizing: border-box;
  width: 460px;
}

.search-bar > * {
  border: 0;
  background-color: v.$content-background;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
}

.search-bar__input {
  border-top-left-radius: v.$border-radius;
  border-bottom-left-radius: v.$border-radius;
  padding-left: 10px;
  width: 82%;
}

.search-bar__button {
  border-top-right-radius: v.$border-radius;
  border-bottom-right-radius: v.$border-radius;
  background-color: v.$text-color-1;
  color: v.$content-background;
  cursor: pointer;
  width: 18%;
}

.search-results-container {
  margin-block:20px;
}

.search-results {
  box-sizing: border-box;
  background-color: v.$content-background;
  border-radius: v.$border-radius;
  padding: 20px 20px;
  max-width: 460px;
  font-size: 18px;
}

.search-results__title {
  font-size: 30px;
  background-color: inherit;
  margin-top: 5px;
  margin-bottom: 15px;

}

.copy-button {
  @include v.button;
    .copy-icon {
      vertical-align: -3px;
    }
}

.save-button {
  @include v.button;
  .save-icon {
    vertical-align: -3px;
  }
}

.alert-message {
  @include v.alert-message;
}