@use "variables" as v;

.search-by-image{
  @include v.center-items;
  margin-top: 10px;
  .choose-file-button {
    background-color: transparent;
  }
  input::file-selector-button {
    @include v.button;
  }
  .upload-button {
    @include v.button;
  }
  .choose-file-button {
    height: 49px;
  }


}  
.display-uploaded-image {
  @include v.center-items;

  img {
    box-shadow: 5px 5px rgb(0, 0, 0);
  }

  .image-submit__button {
    @include v.button
  }
}

.submit-msg > p {
  @include v.center-items;
  font-family: inherit;
  font-size: 20px;
}

.display-result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: v.$border-radius;
  img {
    border-radius: v.$border-radius;
    margin: 10px;
  }
  .image-results-container{
    margin-block:10px;
  }
  .search-results {
    height: 250px;
  }
  .search-button-container {
    display: flex;
    justify-content:center;
  }
  .search-results > * {
    background-color: white;
    color: black;
    font-size: 17px;
    margin: 0;
  }
}






