@use "variables" as v;

.search {
  @include v.center-items;
  margin-top: 10px;
  .search-form > form {
    @include v.center-items;
    *{
      margin-block: 10px;
    }
  }
}

.search-form__title {
  font-size: 47px;
  text-align: center;
}

.search-bar {
  box-sizing: border-box;
  width: 460px;
}

.search-bar > * {
  border: 0;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  box-shadow: 5px 5px rgb(0, 0, 0);
}

.search-bar__input {
  border-top-left-radius: v.$border-radius;
  border-bottom-left-radius: v.$border-radius;
  background-color: v.$text-color-1;
  color: v.$content-background;
  padding-left: 10px;
  width: 82%;
}

.search-bar__button {
  border-top-right-radius: v.$border-radius !important;
  border-bottom-right-radius: v.$border-radius;
  background-color: v.$content-background;
  color:v.$text-color-1;
  cursor: pointer;
  width: 18%;
}

.search-results-container {
  margin-block:20px;
}

.search-results {
  box-sizing: border-box;
  background-color: v.$text-color-1;
  color: v.$content-background;
  border-radius: v.$border-radius;
  padding: 20px 20px;
  max-width: 460px;
  font-size: 18px;
  box-shadow: 5px 5px black;
}

.search-results__title {
  font-size: 30px;
  background-color: inherit;
  color: inherit;
  margin-top: 5px;
  margin-bottom: 15px;
}

.copy-button {
  @include v.button;
    .copy-icon {
      vertical-align: -3px;
    }
}

.save-button {
  @include v.button;
  .save-icon {
    vertical-align: -3px;
  }
}

.alert-message {
  @include v.alert-message;
}

.stats-results-container {
  margin-block: 10px;
}

.stats-search-results {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "Real-time-stats Real-time-stats Real-time-stats Real-time-stats"
    "tweets exposure reteets mentions"
    "number number2 number3 number4";
  font-size: 18px;
  padding: 8px 8px;
  width: 440px;
  justify-items: center;
  border-radius: 8px;
  box-shadow: 5px 5px black;
  border: white solid;
}

.Real-time-stats {grid-area: Real-time-stats;
  font-weight: 600;
}

.tweets { grid-area: tweets; }

.exposure { grid-area: exposure; }

.reteets { grid-area: reteets; }

.mentions { grid-area: mentions; }

.number { grid-area: number; }

.number2 { grid-area: number2; }

.number3 { grid-area: number3; }

.number4 { grid-area: number4; }
